# 🔒 개인정보 및 비밀번호, API 키를 절대 이 파일에 포함시키지 마세요.
# Vercel Settings > Environment Variables 메뉴에 동일한 이름의 환경 변수를 등록하세요.

FIREBASE_API_KEY=YOUR_FIREBASE_API_KEY
FIREBASE_AUTH_DOMAIN=YOUR_FIREBASE_AUTH_DOMAIN
FIREBASE_PROJECT_ID=YOUR_FIREBASE_PROJECT_ID
FIREBASE_STORAGE_BUCKET=YOUR_FIREBASE_STORAGE_BUCKET
FIREBASE_MESSAGING_SENDER_ID=YOUR_FIREBASE_MESSAGING_SENDER_ID
FIREBASE_APP_ID=YOUR_FIREBASE_APP_ID
GEMINI_API_KEY=YOUR_GEMINI_API_KEY
SUPER_ADMIN_EMAIL=YOUR_SUPER_ADMIN_EMAIL
